# Windows
Thumbs.db
Desktop.ini
/*.csproj
/*.sln

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Logs
/Library
/Temp
Assets/Plugins.meta
Assets/Plugins/

# VS
.vs/
.vscode/
.idea/
obj/
bin/
UserSettings/
*.app/
Build/
Assets/TextMeshPro Support*
